@media screen and (max-width: 600px) {

    .nav-container{
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;

    }
    .nav-li{
        flex-direction: column;
        margin-top: 20px;
    }
    .nav-btn{
        align-items: center;
    }
/* end of nav responsive */

.banner-container{
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.banner-text{
    width: 100%;
    margin: 70px auto;
}
.banner-img{
    width: 100%;
}
.banner-img img{
    width: 100%;
}
/* banner ends here */
.grid-products{
    width: 100%;
}
.products-heading h2{
    font-size: 30px;
}
.products-heading p{
    font-size: 15px;
}
.products-img{
    grid-template-columns: 1fr;
}
.overlay{
    width: 77%;
}
/* products responsive end */

.second-grid{
    max-width: 100%;
    flex-direction: column;
}
.second-product{
    width: 100%;
    margin: 0 auto;
}
.second-products-img{
    width: 100%;
    margin: 0 auto;
    
}
 .image-two{
    position: relative;
    top: 700px;
    left: 0;
} 
.big-img{
    width: 100%;
    height: 70%;
    margin: 0 auto;
}
}


@media screen and (min-width: 601px) and (max-width: 1200px) {
    .nav-container{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-right: 20px;
        padding-left: 10px;
    }

     /* nav end */

     .banner-container{
        align-items: center;
        width: 100%;
        margin: auto;
    }
    /* banner ended */
    .grid-products{
        width: 100%;
    }
    .products-img{
        grid-template-columns:repeat(2, 1fr)
    }
    .overlay{
        width: 67%;
    }
    /* products end */

    .second-grid{
        max-width: 100%;
        flex-direction: column;
    }

    .second-products-img{
       
        margin: 0 auto;
    
    .big-img{
        width: 100%;
        height: 70%;
        margin: 0 auto;
    }

}

   

    
